<div class = "login">
<h3>Welcome to Angry Twotter</h3>
	<div class = "login-link"><a href = "/auth/facebook">Log in with Facebook</a></div>
	<p>Or Log in Locally</p>
	<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
    <div>
    	<p>No account? Sign up <a href = "/signup">here</a>.</p>
    	</div>
</form>
</div>