<h2>Order Here</h2>
<form id = "orderForm" action="submitOrder" method="POST">
	{{#each ingredients}}
	<input type="checkbox" name={{this.name}} value={{this.price}}>{{this.name}} : ${{this.price}}</br>
	{{/each}}
	<input type="submit" value = "Place Order!">
</form>
<p>Current total: $<span id = "total">0</span></p>
<div id="completeOrder"></div>